/*Common classes*/

html {
    font-size: 16px;
    border: 0;
    margin: 0;
    /*font-family: 'Fira Sans', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
}
.container {
    padding-top: 0;
    padding-right: 1.5rem;
    padding-bottom: 0;
    padding-right: 1.5rem;
}
/*Mobile container*/
@media only screen and (max-width:490px){
.container {
    padding: 0;
}
}
/*Header sytles*/
/*Desktop*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    /*background-color: #7ba8a2;*/
    color: #f3f3eb;
    background-color: #CE5A57;
    /*color: #e7e6d6;*/
    position: fixed;
    z-index: 20;
    width: 100%;
}
.logosection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.logosection img {
    height: 100%;
}
.logoboldname {
    font-weight: bolder;
}
.logothinname{
  font-weight: lighter;
  opacity: 0.6;
}
#mobile {
    display: none;
}
.headernavigation ul {
    display: flex;
}

.headernavigation ul a{
    color: #f3f3eb;
}

.headernavigation ul li {
    padding:1rem 1rem 1rem 0;
}

.headernavigation ul li a:hover{
  color: black;
  color: #CE5A57;
  background-color: #f3f3eb;
  border-radius: 3px;
}


/*Mobile header*/

@media only screen and (max-width: 595px) {
    #desktop {
        display: none;
    }
    #mobile {
        display: flex;
    }
    .logotext {
        display: none;
    }
    .logosection {
        width: 25%;
        height: auto;
        justify-content: center;
    }
    .headernavigation {
        width: 75%;
    }
    .headernavigation ul {
        width: 100%;
        justify-content: space-around;
    }
    .headernavigation ul li {
        width: 25%;
        text-align: center;
        padding: 0;
    }
}
/*Banner section*/
/*Desktop rendition*/

.banner {
    display: flex;
    background-color: rgba(0, 0, 0, .05);
    position: relative;
    flex-flow: wrap;
    top: 4rem;
    margin-bottom: 4rem;
}
.bannerimg {
    width: 60%;
    height: auto;
    padding: 2rem 2.5rem 2rem 1.5rem;
}
.bannerimg img {
    max-width: 100%;
    height: auto;
}

.bannertext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    padding: 2rem 1.5rem 2rem 0;
    /*font-family: 'Montserrat', sans-serif;*/
}
.bannertextitem {
    margin-bottom: 2rem;
    border-radius: 2rem;
}

.bannertextitem h1 {
    font-weight: bold;
    font-size: 3rem;
}
.bannertextitem h3 {
    font-size: 2rem;
}
.bannertextitem h5 {
    font-size: 1.5rem;
    padding: 0.5em 0;
}
#bannerbutton {
    width: 80%;
    height: auto;
    background-color: #808080;

    text-align: center;
    vertical-align: middle;
}

#bannerbutton a{
  color: white;
}
.bannertextitem h5:hover{
  color: #f3f3eb;
  background-color: #CE5A57;
  border-radius: 2rem;

}


/*mobile version*/

@media only screen and (max-width: 490px) {
    .banner {
        display: flex;
        flex-direction: column;
        background-color: #dcdcdc;
    }
    .bannerimg {
        padding: 0;
        width: 100%;
        height: 11.25rem;
    }
    | .bannerimg img {
        height: inherit;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
    .bannertext {
        width: 100%;
        align-items: flex-start;
        text-align: left;
    }
}
/*Tab version*/

@media only screen and (max-width: 970px) {
    .banner {
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        background-color: #dcdcdc;
    }
    .bannerimg {
        width: 100%;
        padding: 0;
        object-fit: cover;
        object-position: 0% 0%;

    }
    .bannertext {
        width: 100%;
        padding: 2rem 1rem;
        align-items: center;
        text-align: center;
    }
    .bannertextitem {
        margin-bottom: 0;
    }
    .bannertextitem h3 {
        margin: 2rem 0 1.5rem 0;
    }
}
/*blogs section*/

.blogs {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: stretch;
}
.mainblog {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.mainblogimg,
.mainblogdesc {
    padding-bottom: 2rem;
}
.mainblogimg img {
    max-width: 100%;
    height: auto;
}
.mainblogtitle {
    padding-bottom: 1.5rem;
}
.mainblogtitle h1 {
    font-size: 2rem;
    font-weight: bold;
}
.mainblogdesc h3 {
    font-size: 1.3rem;
    font-weight: normal;
    opacity: 0.6;
}
.mainblogauth p {
    font-size: 1rem;
}
.mainblogtxt,
.newblogtxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.upcomingblogs {
    /*width: 25.43rem;*/
    /*width: 32rem;*/
    width:35%;
    /*width: auto;*/
    /*padding-left: 1rem;*/
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
}
.newblogimg {
    max-width: 35%;
    height: auto;
    padding: 1rem 1rem 1rem 0;

}
.newblogimg img {
    width: 100%;
    height: auto;
}
.newblogtitle h3 {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
}
.newblogdesc h5,
.newblogreadmore h5 {
    font-size: 1rem;
    padding-bottom: 1rem;
}
.newblog {
    display: flex;
    padding-left: 1rem;
}
.newblog:hover, .newblog a:hover{
  color: #CE5A57;
  background-color: #f3f3eb;
}
.newblogtxt{
  width: 50%;
}

.upcomingblogs :first-child .newblogimg {
  padding-top: 0;
}

.newblogmobileimg{
  display: none;
}

/*Tab version*/
@media only screen and (max-width: 970px) {
.mainblog{
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

.container{
  padding: 0;
  margin: 0
}

.blogs{
  flex-direction: column;
}
.upcomingblogs{
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: flex-start;
  padding-top: 2rem;
  padding-left: 0;
}

.newblog{
  width: 35%;
  /*padding-right: 1rem;*/
}
.newblogimg, .newblogdesc{
  /*width: 60%;
  height: auto;*/
  display: none;
}

.newblogimg img{
  width: 100%;
  height: auto;
}

.newblogtxt{
  border: 0.1rem solid white;
  /*background-color: #7ba8a2;*/
  background-color: #CE5A57;
  color: #f3f3eb;
  width: 100%;
  min-height: 128px;
  justify-content:  flex-start;
  align-items: stretch;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}
}


/*Mobile version*/
@media only screen and (max-width: 490px) {
  .newblogmobileimg{
    display: block;
  }
  .mobileimg {
    width: 100%;
    height: auto;
  }
  .mainblog{
    display: none;
  }
  .newblogdesc{
    display: block;
  }
  .upcomingblogs{
   width: 100%;
   flex-direction: column;

  }

  .newblog{
    width: 100%;
    padding-top: 1rem
  }
  .newblogtxt{
   background-color: white;
   border: 0;
   width: 100%;
   color:black;

  }
  .blogs {
    padding-top: 2rem;

  }

  .newblogtitle , .newblogdesc , .newblogreadmore{
    padding-left: 1rem;
  }

  .newblogmobileimg{
    padding-bottom: 1rem;
  }
}

/*Courses section*/
/*Desktop styles*/

.coursesec{
   background-color: rgba(0, 0, 0, .05);
   padding-top: 2rem;
   padding-bottom: 2rem;
}

.sectiontitle{
  width: 100%;
  text-align: center;
}

.courses{
  display: flex;
  flex-flow: wrap;
  justify-content: center;

  width:85%;
  margin: 2rem auto 2rem auto;
}

.sectiontitle{
  font-size: 2.5rem;
  opacity: 0.7;
  /*padding-bottom: 2rem;*/
}

.course{
  /*background-color: #7ba8a2;*/
  background-color:  #CE5A57;
  color: #f3f3eb;
  width: 28%;
  margin-bottom: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;

}

.course:hover{
transform: skew(-5deg);
}

.courseimg, .courseimg img{
  width: 100%;
  height: auto;
  border-radius: 1rem;

}
.courseimg{
  flex-shrink: 3;
}

.coursetitle{
  font-size: 1.5rem;
  font-weight: bold;
}

.coursedetails{
  padding: 1rem 0;
}

.coursetext{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 1rem 1.5rem 1rem;
  flex-shrink: 1;

}

/*Tab  styling*/

@media only screen and (max-width: 970px) {



  .courses{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .course,.coursetitle{
    width: 100%;
    text-align: center;
  }
  .courseimg , .coursedetails , .courselist{
    display: none;
  }

  .course{
    margin:0.5rem 0 0.5rem ;
  }


}

/*Mobile styling*/

@media only screen and (max-width: 490px) {
  .coursetitle{

    text-align: left;
  }

  .coursetext{
    padding: 0.5rem 1rem 0.5rem 1rem;
  }


}




/*Thesis section*/
.mainblogimg video {
    max-width: 100%;
    height: auto;
}

.thesis{

  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: white;
}


/*Tab section*/
@media only screen and (max-width: 970px) {
.thesis .upcomingblogs{
  display: none;

}

.thesis .mainblog{
  display: flex;
}
}


/*Footer section*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-color: #CE5A57;
    color: #f3f3eb;

}

footer .logotext{
  padding-left: 1.5rem;
}

@media only screen and (max-width: 970px) {
 footer nav{
   display: none;
 }

 footer .logosection,footer .logotext{
   display: block;
   width: 100%;
 }

}
